@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.active{
  @apply border-orange-500;
  @apply font-bold;
}
/* para modificar barra de navegacion */
::-webkit-scrollbar{
  width: 10px;
  z-index: -1;
}

::-webkit-scrollbar-track{
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: #d8d8d8;
  opacity: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #c9c9c9;
  opacity: 10px;
  border-radius: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
/* #a9c7ca; */
body {
  background-color: #a9c7ca;
  background-image: url(./assets/patron.png);
  background-attachment: fixed;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-height: 1500vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.active{
  color: rgb(0, 0, 0);
}

/* .play-on-hover {
  width: 18vw;
  height: 18vw;
  background-image: url(./assets/home/img_1.png);
  background-size: cover;
}

.play-on-hover:hover {
  background-image: url(./assets/gif/gif_manual_web_final.gif);
} */

.nav{
  position: fixed;
}

.nav.navmod{
  background: #004c6a8e;
  border-width: 1px;
  border-color: #ffffff20;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

h2 {
  font-size: 2em;
}

#disenioimg{
  background-image: url('assets/home/img_1.webp');
}
#programacionimg{
  background-image: url('assets/home/img_2.webp');
}

#diseniocolor{
  background: rgb(0,76,106);
  background: -moz-linear-gradient(0deg, rgba(0,76,106,0.21060924369747902) 8%, rgba(6,61,82,0.6139705882352942) 43%, rgba(5,48,65,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,76,106,0.21060924369747902) 8%, rgba(6,61,82,0.6139705882352942) 43%, rgba(5,48,65,1) 100%);
  background: linear-gradient(0deg, rgba(0,76,106,0.21060924369747902) 8%, rgba(6,61,82,0.6139705882352942) 43%, rgba(5,48,65,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004c6a",endColorstr="#053041",GradientType=1);
}

#programacioncolor{
  background: rgb(0,76,106);
  background: -moz-linear-gradient(180deg, rgba(0,76,106,0.21060924369747902) 26%, rgba(6,61,82,0.6139705882352942) 63%, rgba(5,48,65,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,76,106,0.21060924369747902) 26%, rgba(6,61,82,0.6139705882352942) 63%, rgba(5,48,65,1) 100%);
  background: linear-gradient(180deg, rgba(0,76,106,0.21060924369747902) 26%, rgba(6,61,82,0.6139705882352942) 63%, rgba(5,48,65,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004c6a",endColorstr="#053041",GradientType=1);
}